
flask>=3.1.0
flask-login>=0.6.3
flask-session>=0.8.0
hypercorn>=0.17.3
telethon==1.32.1
asgiref>=3.8.1
psycopg2-binary>=2.9.10
flask-sqlalchemy>=3.1.1
sqlalchemy>=2.0.38
js2py
asgiref
flask
flask-session
psycopg2-binary
telethon
asgiref
flask
flask-session
flask-sqlalchemy
psycopg2-binary
telethon
flask
gunicorn
flask-login
flask-wtf
